{{template "layout.html" .}}
{{define "title"}}联系人-新建{{end}}
{{define "content"}}
<div class="container m-auto">
    <form action="/contacts/{{.Id}}" method="post">
        <fieldset>
            <legend>联系人信息</legend>
            <p class="mb-2">
                <label for="email" class="inline-block w-20 text-right">Email</label>
                <input name="email" type="email" placeholder="Email" value="{{.Email}}" class="border-2 border-gray-400 rounded px-2 py-1 focus:border-green-600 focus:outline-none">
                <span class="error">{{.Errors.Email}}</span>
            </p>
            <p class="mb-2">
                <label for="first_name" class="inline-block w-20 text-right">FirstName</label>
                <input name="first_name" id="first_name" type="text" placeholder="First Name" value="{{.FirstName}}" class="border-2 border-gray-400 rounded px-2 py-1 focus:border-green-600 focus:outline-none">
                <span class="error">{{.Errors.FirstName}}</span>
            </p>
            <p class="mb-2">
                <label for="last_name" class="inline-block w-20 text-right">LastName</label>
                <input name="last_name" id="last_name" type="text" placeholder="Last Name" value="{{.LastName}}" class="border-2 border-gray-400 rounded px-2 py-1 focus:border-green-600 focus:outline-none">
                <span class="error">{{.Errors.LastName}}</span>
            </p>
            <p class="mb-2">
                <label for="phone" class="inline-block w-20 text-right">Phone</label>
                <input name="phone" id="phone" type="text" placeholder="Phone Number" value="{{.Phone}}" class="border-2 border-gray-400 rounded px-2 py-1 focus:border-green-600 focus:outline-none">
                <span class="error">{{.Errors.Phone}}</span>
            </p>
            <button class="bg-sky-500 px-2 py-1 cursor-pointer text-center text-white focus:border-2 focus:border-sky-300 hover:bg-sky-400 hover:border-2 hover:border-sky-300 rounded" >保存</button>
        </fieldset>
    </form>
    
    <p class="mt-2">
        <a href="/contacts" class="text-sky-500 hover:text-sky-400">Back</a>
    </p>
</div>

{{end}}